// App-specific window rules
include "~/.local/share/omari/default/niri/apps/browser.kdl"
include "~/.local/share/omari/default/niri/apps/localsend.kdl"
include "~/.local/share/omari/default/niri/apps/pip.kdl"
include "~/.local/share/omari/default/niri/apps/qemu.kdl"
include "~/.local/share/omari/default/niri/apps/system.kdl"
include "~/.local/share/omari/default/niri/apps/terminals.kdl"
include "~/.local/share/omari/default/niri/apps/webcam-overlay.kdl"


