environment {
    // Tell apps which compositor is running (used by xdg-desktop-portal, etc.).
    XDG_CURRENT_DESKTOP "niri"

    // Cursor
    XCURSOR_SIZE "24"

    // Force all apps to use the Wayland
    GDK_BACKEND "wayland,x11,*"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_STYLE_OVERRIDE "kvantum"
    SDL_VIDEODRIVER "wayland,x11"
    MOZ_ENABLE_WAYLAND "1"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    OZONE_PLATFORM "wayland"
    XDG_SESSION_TYPE "wayland"

    // Use XCompose file
    XCOMPOSEFILE "~/.XCompose"
}
