// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 5

    center-focused-column "never"

    // Keep a lone column from hugging the left edge on empty workspaces.
    always-center-single-column

    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }

    background-color "transparent"

    // You can change how the focus ring looks.
    focus-ring {
        off
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        on

        width 2

        active-color "#ffc87f"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        on

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#1a1a1aee"
        inactive-color "#1a1a1aee"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    struts {
        left 8
        right 8
        top 8
        bottom 8
    }
}

// Put swaybg with namespace "backdrop" inside the overview.
layer-rule {
    match namespace="^backdrop$"
    place-within-backdrop true
}

// Enhance the overview with shadows behind windows.
overview {
    workspace-shadow {
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000050"
    }

     zoom 0.75
}

// Blue effect
blur {
    passes 2
    offset 2
    noise 0.1
    saturation 1.2
}

// Use default window decorations.
prefer-no-csd

// Named workspaces
workspace "1"
workspace "2"
workspace "3"
workspace "4"
