// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// Use defaults Omari defaults (but don't edit these directly!)
include "~/.local/share/omari/default/niri/autostart.kdl"
include "~/.local/share/omari/default/niri/apps.kdl"
include "~/.local/share/omari/default/niri/bindings/media.kdl"
include "~/.local/share/omari/default/niri/bindings/clipboard.kdl"
include "~/.local/share/omari/default/niri/bindings/tiling.kdl"
include "~/.local/share/omari/default/niri/bindings/utilities.kdl"
include "~/.local/share/omari/default/niri/window.kdl"

// Change your own setup in these files (and overwrite any settings from defaults!)
include optional=true "output.kdl"
include optional=true "input.kdl"
include optional=true "bindings.kdl"
include optional=true "looknfeel.kdl"
include optional=true "autostart.kdl"
include optional=true "windowrules.kdl"

// Use the current theme (but you can overwrite specific settings in looknfeel.kdl if you want!)
include "~/.config/omari/current/theme/niri.kdl"

// Add any other personal Niri configuration below