binds {
    // Laptop multimedia keys for volume and LCD brightness (with OSD)
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Volume up" { spawn "omari-swayosd-client" "--output-volume" "raise"; }
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Volume down" { spawn "omari-swayosd-client" "--output-volume" "lower"; }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="Mute" { spawn "omari-swayosd-client" "--output-volume" "mute-toggle"; }
    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="Mute microphone" { spawn "omari-audio-input-mute"; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Brightness up" { spawn "omari-brightness-display" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Brightness down" { spawn "omari-brightness-display" "5%-"; }
    Shift+XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Brightness maximum" { spawn "omari-brightness-display" "100%"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Brightness minimum" { spawn "omari-brightness-display" "1%"; }
    XF86KbdBrightnessUp allow-when-locked=true hotkey-overlay-title="Keyboard brightness up" { spawn "omari-brightness-keyboard" "up"; }
    XF86KbdBrightnessDown allow-when-locked=true hotkey-overlay-title="Keyboard brightness down" { spawn "omari-brightness-keyboard" "down"; }
    XF86KbdLightOnOff allow-when-locked=true hotkey-overlay-title="Keyboard backlight cycle" { spawn "omari-brightness-keyboard" "cycle"; }
    XF86TouchpadToggle allow-when-locked=true hotkey-overlay-title="Toggle touchpad" { spawn "omari-toggle-touchpad"; }
    XF86TouchpadOn allow-when-locked=true hotkey-overlay-title="Enable touchpad" { spawn "omari-toggle-touchpad" "on"; }
    XF86TouchpadOff allow-when-locked=true hotkey-overlay-title="Disable touchpad" { spawn "omari-toggle-touchpad" "off"; }

    // Precise 1% multimedia adjustments with Alt modifier
    Alt+XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Volume up precise" { spawn "omari-swayosd-client" "--output-volume" "+1"; }
    Alt+XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Volume down precise" { spawn "omari-swayosd-client" "--output-volume" "-1"; }
    Alt+XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Brightness up precise" { spawn "omari-brightness-display" "+1%"; }
    Alt+XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Brightness down precise" { spawn "omari-brightness-display" "1%-"; }

    // Requires playerctl
    XF86AudioNext allow-when-locked=true hotkey-overlay-title="Next track" { spawn-sh "omari-swayosd-client --playerctl next"; }
    XF86AudioStop allow-when-locked=true hotkey-overlay-title="Stop" { spawn-sh "omari-swayosd-client --playerctl play-pause"; }
    XF86AudioPlay allow-when-locked=true hotkey-overlay-title="Play/Pause" { spawn-sh "omari-swayosd-client --playerctl play-pause"; }
    XF86AudioPrev allow-when-locked=true hotkey-overlay-title="Previous track" { spawn-sh "omari-swayosd-client --playerctl previous"; }

    // Switch audio output with Super + Mute
    Mod+XF86AudioMute allow-when-locked=true hotkey-overlay-title="Switch audio output" { spawn "omari-cmd-audio-switch"; }
}