binds {
    // Laptop multimedia keys for volume and LCD brightness (with OSD)
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "omari-swayosd-client --output-volume raise"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "omari-swayosd-client --output-volume lower"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "omari-swayosd-client --output-volume mute-toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "omari-cmd-mic-mute"; }
    XF86MonBrightnessUp     allow-when-locked=true { spawn-sh "omari-brightness-display +5%"; }
    XF86MonBrightnessDown   allow-when-locked=true { spawn-sh "omari-brightness-display 5%-"; }
    XF86KbdBrightnessUp     allow-when-locked=true { spawn-sh "omari-brightness-keyboard up"; }
    XF86KbdBrightnessDown   allow-when-locked=true { spawn-sh "omari-brightness-keyboard down"; }
    XF86KbdLightOnOff       allow-when-locked=true { spawn-sh "omari-brightness-keyboard cycle"; }

    // Precise 1% multimedia adjustments with Alt modifier
    Alt+XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "omari-swayosd-client --output-volume +1"; }
    Alt+XF86AudioLowerVolume allow-when-locked=true { spawn-sh "omari-swayosd-client --output-volume -1"; }
    Alt+XF86MonBrightnessUp allow-when-locked=true { spawn-sh "omari-brightness-display +1%"; }
    Alt+XF86MonBrightnessDown allow-when-locked=true { spawn-sh "omari-brightness-display 1%-"; }

    // Requires playerctl
    XF86AudioNext        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl next"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl play-pause"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl play-pause"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "omari-swayosd-client --playerctl previous"; }

    // Switch audio output with Super + Mute
    Mod+XF86AudioMute    allow-when-locked=true { spawn "omari-cmd-audio-switch"; }
}