binds {
  // Menus
  Mod+Space hotkey-overlay-title="Launch apps" { spawn "omari-launch-walker"; }
  Mod+Ctrl+E hotkey-overlay-title="Emoji picker" { spawn "omari-launch-walker" "-m" "symbols"; }
  Mod+Ctrl+C hotkey-overlay-title="Capture menu" { spawn "omari-menu" "capture"; }
  Mod+Ctrl+O hotkey-overlay-title="Toggle menu" { spawn "omari-menu" "toggle"; }
  Mod+Ctrl+H hotkey-overlay-title="Hardware menu" { spawn "omari-menu" "hardware"; }
  Mod+Alt+Space hotkey-overlay-title="Omari menu" { spawn "omari-menu"; }
  Mod+Escape hotkey-overlay-title="System menu" { spawn "omari-menu" "system"; }
  XF86PowerOff allow-when-locked=true hotkey-overlay-title="Power menu" { spawn "omari-menu" "system"; }
  Mod+K hotkey-overlay-title="Show key bindings" { spawn "omari-menu-keybindings"; }
  Mod+Shift+K hotkey-overlay-title="niri key bindings window"{ show-hotkey-overlay; }

  // Aesthetics
  Mod+Shift+Space hotkey-overlay-title="Toggle top bar" { spawn "omari-toggle-waybar"; }
  Mod+Ctrl+Space hotkey-overlay-title="Theme background menu" { spawn "omari-menu" "background"; }
  Mod+Shift+Ctrl+Space hotkey-overlay-title="Theme menu" { spawn "omari-menu" "theme"; }
  Mod+Backspace hotkey-overlay-title="Toggle window transparency" { spawn "omari-niri-window-transparency-toggle"; }

  // Notifications
  Mod+Comma hotkey-overlay-title="Dismiss last notification" { spawn "makoctl" "dismiss"; }
  Mod+Shift+Comma hotkey-overlay-title="Dismiss all notifications" { spawn "makoctl" "dismiss" "--all"; }
  Mod+Ctrl+Comma hotkey-overlay-title="Toggle silencing notifications" { spawn "omari-toggle-notification-silencing"; }
  Mod+Alt+Comma hotkey-overlay-title="Invoke last notification" { spawn "makoctl" "invoke"; }
  Mod+Shift+Alt+Comma hotkey-overlay-title="Restore last notification" { spawn "makoctl" "restore"; }

  // Toggles
  Mod+Ctrl+I hotkey-overlay-title="Toggle locking on idle" { spawn "omari-toggle-idle"; }
  Mod+Ctrl+N hotkey-overlay-title="Toggle nightlight" { spawn "omari-toggle-nightlight"; }
  Mod+Ctrl+Delete hotkey-overlay-title="Toggle laptop display" { spawn "omari-niri-monitor-internal" "toggle"; }
  Mod+Ctrl+Alt+Delete hotkey-overlay-title="Toggle laptop display mirroring" { spawn "omari-niri-monitor-internal-mirror" "toggle"; }

  // Captures
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  // File sharing
  Mod+Ctrl+S hotkey-overlay-title="Share" { spawn "omari-menu" "share"; }

  // Transcoding
  Mod+Ctrl+Period hotkey-overlay-title="Transcode" { spawn "omari-transcode"; }

  // Reminders
  Mod+Ctrl+R hotkey-overlay-title="Set reminder" { spawn "omari-menu" "reminder-set"; }
  Mod+Ctrl+Alt+R hotkey-overlay-title="Show reminders" { spawn "omari-reminder" "show"; }
  Mod+Shift+Ctrl+R hotkey-overlay-title="Clear reminders" { spawn "omari-reminder" "clear"; }

   // Waybar-less information
  Mod+Ctrl+Alt+T hotkey-overlay-title="Show time" { spawn-sh "notify-send -u low \"    $(date +\"%A %H:%M  ·  %d %B %Y  ·  Week %V\")\""; }
  Mod+Ctrl+Alt+B hotkey-overlay-title="Show battery remaining" { spawn-sh "notify-send -u low \"$(omari-battery-status)\""; }
  Mod+Ctrl+Alt+W hotkey-overlay-title="Show weather" { spawn-sh "notify-send -u low \"$(omari-weather-status)\""; }

  // Control panels
  Mod+Ctrl+A hotkey-overlay-title="Audio controls" { spawn "omari-launch-audio"; }
  Mod+Ctrl+B hotkey-overlay-title="Bluetooth controls" { spawn "omari-launch-bluetooth"; }
  Mod+Ctrl+W hotkey-overlay-title="Wifi controls" { spawn "omari-launch-wifi"; }
  Mod+Ctrl+T hotkey-overlay-title="Activity" { spawn "omari-launch-tui" "btop"; }

  // Zoom (wooz)
  Mod+Ctrl+Z hotkey-overlay-title="Zoom In" { spawn-sh "wooz --zoom $(wooz --get-zoom | awk '{print $1 + 1}')"; }
  Mod+Ctrl+Alt+Z hotkey-overlay-title="Reset Zoom" { spawn "wooz" "--set-zoom" "1"; }

  // Lock system
  Mod+Ctrl+L hotkey-overlay-title="Lock system" { spawn "omari-system-lock"; }

  // Overview
  Mod+O repeat=false hotkey-overlay-title="Toggle overview" { toggle-overview; }
}